/* Quitar flechas en Chrome, Safari y Edge */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Quitar flechas en Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}
